{% extends 'probase.html.twig' %}

{% block title %}ПчелоМатка{% endblock %}

{#{% block sidebarr %}#}
{#    {% include('app/proekts/pasekas/matkas/side/_side_plem_create.html.twig') %}#}
{#{% endblock %}#}

{% block menupro %}
    {{ include('app/proekts/_tabs.html.twig') }}
    {{ include('app/proekts/page_glavas/pchelomatka/_tabs.html.twig') }}
{% endblock %}


{% block bodyy %}

    <div class=" proekts pro-pchelomat">


        <div class="inklud inklud--pchelomat ">

            <div class="pchelo-title  pchelo-teni ">
                Регистрация Пчело-Матки &nbsp; &nbsp;
            </div>
        </div>
        <div class="proekts-plr  ">

            <h1 class="pchelo-titul   ">Заполняем позиции: :</h1>

            <div class="matki-form__header  ">
                <div class="matki-form ">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <ul class="plem__data plem__data--mt2">
                        <li>
                            <button type="submit" class="btnn-elit">Добавить в БД</button>
                        </li>
                    </ul>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class=" proekts ">
        <div class="inklud inklud--pchelomat ">

            <div class="pchelo-title  pchelo-teni ">
                Характеристики категорий для регистрации Пчело-Матки&nbsp;
            </div>
        </div>

        {% include('app/proekts/pasekas/pchelomatkas/kategoris/_kategor-includ.html.twig') %}
    </div>

{% endblock %}