{% extends 'probase.html.twig' %}

{% block title %}Пчело-Матка{% endblock %}

{#{% block sidebarr %}              #}
{#    {% include('app/proekts/pasekas/matkas/side/_sidefiltr.html.twig') %}#}
{#{% endblock %}#}


{% block menupro %}
    {{ include('app/proekts/_tabs.html.twig') }}

    {{ include('app/proekts/page_glavas/pchelomatka/_tabs.html.twig') }}
{% endblock %}

{#    {% block kroxii %}#}
{#        <a href="{{ path('app.proekts.page_glavas.pchelomatka') }}">Главная</a>#}
{#        <a href="{{ path('app.proekts.drevorods.rodras') }}">Рег-ция ПчелоМатки</a>#}
{#        <a href="{{ path('app.proekts.pasekas.pchelomatkas.creates') }}">Рег-ция ПчелоМатки</a>#}
{#        <span class="aktiv ">Список ПчелоМаток</span>#}
{#    {% endblock %}#}

{% block bodyy %}

    <div class=" proekts pro-pchelomat">

        <div class="inklud inklud--pchelomat ">

            <div class="pchelo-title  pchelo-teni ">
                Список зарегистрированных Пчело-Маток &nbsp; &nbsp;
            </div>
        </div>
        {# ------------------------- #}
        <div class="proekts-plr  ">
            <div class="matki_break_no">
                <ul class="pchelo__data pchelo__data--col">

                    <li class="pchelo__name pchelo__name--wid34 pchelo__name-list--wid">
                        Пчело-Матки (по ссылке -расшифровка)
                    </li>

                    {# <li class = "pchelo__name">Кат-рия</li> #}
                    <li class="pchelo__name">Сезоны: кол-во</li>
                    <li class="pchelo__name">Сезон: смотреть</li>

                    <li class="pchelo__name"> Дочь: объявить</li>
                    <li class="pchelo__name--wid5 ">Кол-во</li>
                    <li class="pchelo__name"> Статус</li>
                </ul>
                {% for pchelomatka in pagination %}

                    <ul class="pchelo__data  ">

                        <li class="pchelo__name-list pchelo__name-list--wid  mb0">
                            {#                        <a class = " pchelo-ramka mb0" href="{{ path('app.proekts.pasekas.pchelomatkas.pchelomatka.redaktors.show', {'pchelomatka_id': pchelomatka.id}) }}"  title = "Расшифровка названия" >#}
                            {{ pchelomatka.name }}
                            {#                        </a>#}
                        </li>

                        <li class="pchelo__name-list td_cent">

                            {{ pchelomatka.pchsezon_count }}
                        </li>


                        <li class="pchelo__name-list   ">
                            <a href="{{ path('app.proekts.pasekas.pchelomatkas.pchelomatka.redaktors.show', {'pchelomatka_id': pchelomatka.id}) }}"
                                title="Редактировать, архивировать, добавить новый сезон">
                                <div class="drevimg "></div>
                            </a>
                        </li>
                        {% if pchelomatka.pchsezon_count > 0 %}
                            <li class="pchelo__name-list td_cent">
{#                                <a href="{{ path('app.proekts.pasekas.pchelomatkas.pchelomatka.childpchelos.show', {'pchelomatka_id': pchelomatka.id}) }}"#}
{#                                   class="btnn btnn--pchel "#}
{#                                   title="Добавить ДочьМаток от этой маточки">#}
                                    <div class="matimg"></div>
{#                                </a>#}

                            </li>
                            <li class="pchelo__name--wid5 td_cent">
{#                                ({{ pchelomatka.child_count }})#}
                            </li>
                        {% else %}
                            <li class="pchelo__name-list">
                                <strong class="strongo strongo--size-2"> <---</strong>
                            </li>
                        {% endif %}
                        {#                    {% if pchelomatka.linia_o != "-"%}#}
                        {#                        <li class = "pchelo__name-list " >#}
                        {#                            <a class="" href="{{ path('app.proekts.pasekas.pchelomatkas.show', {'pchelomatka_id': pchelomatka.id}) }}"  title = "Расшифровка названия" >#}
                        {#                                {{pchelomatka.linia_o}}  {{pchelomatka.otec_n}}#}
                        {#                            </a>#}
                        {#                        </li>#}
                        {#                    {% else %}#}
                        {#                        <li class = "pchelo__name-list">  {{ pchelomatka_kategoria(pchelomatka.kategoria) }} </li>#}
                        {#                    {% endif %}#}

                        <li class="pchelo__name-list">{{ plemmatka_status(pchelomatka.status) }}</li>
                    </ul>

                {% endfor %}
            </div>

            {# ------------------------- #}

            <div class="matki_break">
                <ul class="plem__data plem__data--col">

                    <li class="plem__name plem__name--wid34 plem__name-list--wid">
                        ПчелоМатка (ссылка-расшифровка)
                    </li>
                    <li class="plem__name break">Сезон</li>
                    <li class="plem__name  break"> Дочь</li>
                    <li class="plem__name break">Отцов_лин</li>

                </ul>
                {% for pchelomatka in pagination %}

                    <ul class="pchelo__data--col">
                        <li><strong class="strongo strongo--kras">{{ pchelomatka.id }}  </strong></li>
                        <li class="pchelo__name-list pchelo__name-list--wid pchelo-ramka mb0">{{ pchelomatka.name }}
                            {#                        <a class="" href="{{ path('app.proekts.pasekas.pchelomatkas.show', {'pchelomatka_id': pchelomatka.id}) }}"  title = "Расшифровка названия" >#}
                            {#                           <strong class="strongo strongo--kras"> {{ pchelomatka.name }} </strong>#}
                            {#                        </a>#}
                        </li>

                        <li class="plem__name-list break">
                            {#                        <a   href="{{ path('app.proekts.pasekas.pchelomatkas.redaktorss.show', {'pchelomatka_id': pchelomatka.id}) }}"  class="btnn btnn--mb1 "#}
                            {#                             title = "Редактировать, архивировать, добавить новый сезон" >#}
                            {#                        </a>#}
                        </li>

                        <li class="plem__name-list no-break">

                            {#                        <a   href="{{ path('app.proekts.pasekas.pchelomatkas.redaktorss.show', {'pchelomatka_id': pchelomatka.id}) }}"  class="btnn btnn--mb1 "#}
                            {#                             title = "Редактировать, архивировать, добавить новый сезон" >#}
                            {#                             Добавить <strong class="strongo strongo--kras">сезон,</strong>  #}
                            {#                             редак-вать, <strong class="strongo strongo--kras">архив</strong> #}
                            {#                        </a>#}
                        </li>
                        <li class="plem__name-list no-break">

                            {#                        <a   href="{{ path('app.proekts.pasekas.pchelomatkas.childmatka.show', {'pchelomatka_id': pchelomatka.id}) }}"  class="btnn btnn--mb1 "#}
                            {#                             title = "Добавить ДочьМаток от этой маточки" >#}
                            {#                             От этой маточки <strong class="strongo strongo--kras">объявить</strong>  ДочьМаток#}
                            {#                        </a>#}
                        </li>
                        <li class="no-break plem__name "></li>
                    </ul>

                {% endfor %}
            </div>

            <ul class="plem__data plem__data--mt2">
                <li>
                    {#                <a href="{{ path('app.proekts.pasekas.pchelomatkas.pchelocreates.create') }}"#}
                    {#                   class="btnn btnn--mb0 btnn--col-plemm"> Регистрация  <strong class="strongo strongo--kras">ПчелоМатки</strong>#}
                    {#                </a>#}
                </li>
                <li>
                    {#                <a href="{{ path('app.proekts.pasekas.childmatkas'  ) }}"  class="btnn btnn--mb0 btnn--col">#}
                    {#                 Список   <strong class="strongo strongo--kras">ДочьМаток (ТестМаток) </strong>#}
                    {#                </a>#}
                </li>
            </ul>


        </div>
    </div>

    {# <div class="navigation">
               {{ knp_pagination_render(pagination) }}
           </div>  #}

{% endblock %}