<aside class="sidebarr" >

    <div class="sidebarr__header">
        <div class="logo_es"></div>
    </div>



  <div class="sideefiltr">

    {{ form_start(form) }}
        <ul class="sideefiltr__ul">
            <li class="sideefiltr__li sideefiltr__li--wid100 sideefiltr__li--flex">
              <div >
                <button type="submit" class=" btnn  btnn-sidebarr" >Фильтр</button>
              </div>
              <div class="sidee__lupa">==
                  <div class="lupaimg"></div>
              </div>
              <div >
                <a  class=" btnn btnn--mb0 btnn--pt btnn--filtr " href="{{ path('app.proekts.pasekas.pchelomatkas.spisoks') }}" >Сбросить</a>
              </div>
            </li>

            <li class="side-title__li">
              Поиск по 
            </li>
            <li class="sideefiltr__li sideefiltr__li--wid100">
              <a class="sideefiltr__link " > {{ form_widget(form.name) }}</a> 
            </li>

            <li class="sideefiltr__li sideefiltr__li--wid100">
                <a class="sideefiltr__link " > {{ form_widget(form.persona) }}</a>
            </li>
            
            <li class="sideefiltr__li sideefiltr__li--wid100">
              <a class="sideefiltr__link ">{{ form_widget(form.goda_vixod) }}</a>
            </li>

{#            <li class="sideefiltr__li sideefiltr__li--wid100">#}
{#              <a class="sideefiltr__link ">{{ form_widget(form.kategoria) }}</a>#}
{#            </li>#}
            <li class="sideefiltr__li sideefiltr__li--wid10">
{#                <a class="sideefiltr__link ">{{ form_widget(form.status) }}</a>#}
            </li>
          
          </ul>
      {{ form_end(form) }}
  </div>
   <div class="profilee__text">
      <div class="profilee__header">           
          <div class="profilee__name"> Внимание! </div>
          <div class="profilee__prof"> Если что-то пошло  <br>не так как надо
          </div>
          <button class="btnn  btnn--pt btnn--mb0 " type="button" data-modal="contact-modal">
          напишите мне
      </button>
      </div>
   </div>
</aside>