<header class="header  ">
    {#    teni  teni--size-2#}
    <div class="header__left">
        <nav class="nav ">
            <ul class="nav__list ">
                <li class="nav__item ">
                    <a class="nav__link has-subnav  nav-teni" href="/app/proekts/basepro">Главная </a>
                                        <ul class="subnav">
                                            <li>
                                                <a class="subnav__link" href="{{ path('app.proekts.mestos.okrugs') }}">
                                                    ВыбратьНомерМеста
                                                </a>
                                            </li>
                    {#                        <li>#}
                    {#                            <a class="subnav__link" href="{{ path('app.proekts.mestos.okrugs') }}">#}
                    {#                                Инфа НомерМеста#}
                    {#                            </a>#}
                    {#                        </li>#}
                    {#                        <li>#}
                    {#                            <a class="subnav__link" href="{{ path('app.proekts.personaa.diapazon') }}">Выбор#}
                    {#                                ПерсонНомера</a>#}
                    {#                        </li>#}
                                        </ul>
                </li>

                {#======================================#}
                <li class="nav__item ">
                    {#                    <a class="nav__link has-subnav   nav-teni" href="#">Участие</a>#}

                    <a class="nav__link has-subnav   nav-teni" href="{{ path('app.proekts.page_glavas.uchastieGl') }}">Участие</a>
                    <ul class="subnav">
                        {#                        <li>#}
                        {#                            <a class="subnav__link" href="{{ path('app.proekts.pasekas.uchasties.uchastiee') }}">Стать#}
                        {#                                участником</a>#}
                        {#                        </li>#}
                        {#                        <li>#}
                        {#                            <a class="subnav__link" href="#">Список групп</a>#}
                        {#                        </li>#}
                        {#                        <li>#}
                        {#                            <a class="subnav__link" href="{{ path('app.proekts.pasekas.uchasties.spisok') }}">Список#}
                        {#                                участников</a>#}
                        {#                        </li>#}
                    </ul>
                </li>
                {# ====ЭлитМатки===============#}

                <li class="nav__item">
                    {#                    <a class="nav__link has-subnav  nav-teni "#}
                    {#                       href="{{ path('app.proekts.page_glavas.elitmatka') }}">ЭлитМ</a>#}
                    <ul class="subnav">

                        {#                        <li>#}
                        {#                            #}{#                            <a class="subnav__link " href="{{ path('app.proekts.pasekas.drevmatkas.drevcreates') }}">#}
                        {#                            #}{#                                Рег-ция ЭлитМатки#}
                        {#                            #}{#                            </a>#}
                        {#                        </li>#}
                        {#                        <li>#}
                        {#                            <a class="subnav__link" href="{{ path('app.proekts.drevorods.rodras') }}">Родословная</a>#}
                        {#                        </li>#}

                    </ul>
                </li>

                {#======БрендМатки================================#}
                <li class="nav__item">
                    {#                    <a class="nav__link has-subnav  nav-teni " href="{{ path('app.proekts.page_glavas.brendmatka') }}">БрендМ</a>#}
                    <ul class="subnav">
                        {#                        <li>#}
                        {#                            <a class="subnav__link " href="{{ path('app.proekts.pasekas.matkas.plemmatkas.creates') }}">Рег-ция#}
                        {#                                ПлемМатки</a>#}
                        {#                        </li>#}
                        {#                        <li>#}
                        {#                            <a class="subnav__link" href="{{ path('app.proekts.pasekas.otec_brend.kategor.kategor') }}">Категории#}
                        {#                                ПлемМаток</a>#}
                        {#                        </li>#}
                        {#                        <li>#}
                        {#                            <a class="subnav__link" href="{{ path('app.proekts.pasekas.matkas') }}">Список ПлемМаток</a>#}
                        {#                        </li>#}
                    </ul>
                </li>

                <li class="nav__item">
                    {#                    <a class="nav__link has-subnav  nav-teni " href="{{ path('app.proekts.page_glavas.brendmatka') }}">ПчелоМ</a>#}
                </li>

                <li class="nav__item">
                    {#                    <a class="nav__link has-subnav  nav-teni " href="{{ path('app.proekts.page_glavas.brendmatka') }}">Пасека</a>#}
                </li>

                <li class="nav__item">
                    <a class="nav__link has-subnav  nav-teni " href="#">Н</a>
                    <ul class="subnav">
                        <li>
                            <a class="subnav__link" href="{{ path('home') }}">Ад-ка</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>


    </div>


</header>
