<aside class=" sidebarr--sezon" id="sidebarr">

    <div class="sidebarr__header">
       <div class="logo_es"></div>
    </div>

       <div class="sidebarr__content">
           <div class="olan"></div>
        <div class="profilee">

            <div class="profilee__header">
                <div class="profilee__name"> Ольга Игоревна </div>
                <div class="profilee__prof"> Пчеловод </div>
            </div>
 
                                                {# комментарий в modal.js  #}
         
            
            <div class="profilee__text">
                
               <a class="btnn btnn--pt btnn--mb0" href="#">Мои работы</a> 
            </div>
            
        </div><!-- /.profilee -->
        <nav class="nav  nav--mobile ">
            <ul class="nav__list">
                <li class="na__item">
                    <a class="nav__link"  href="/app/proekts">Главная</a>
                </li>
                <li class="na__item">
                    <a class="nav__link  has-subnav" href="#">Участие</a>
                    
                    <ul class="subnav">
                            <li>
{#                                <a class="sub-nav__link" href="{{ path('proekt.pasekas.uchasties.uchastiee') }} ">Стать участником</a>#}
                            </li>
                            <li>
{#                                <a class="sub-nav__link" href="{{ path('proekt.pasekas.uchasties.groupas') }}">Список групп</a>#}
                            </li>
                            <li>
{#                                <a class="sub-nav__link" href="{{ path('proekt.pasekas.uchasties') }}">Список участников</a>#}
                            </li>

                        </ul>                
                </li>
                <li class="na__item">
{#                    <a class="nav__link"  href="{{ path('proekt') }}">ПлемМатки-картинки</a>#}
                </li>    

                <li>
{#                    <a class="sub-nav__link " href="{{ path('proekt.pasekas.matkas.plemmatkas.creates') }}">Регистрация </a>#}
                </li>
                <li>
{#                    <a class="sub-nav__link" href="{{ path('proekt.pasekas.matkas.kategor.kategor') }}">Категории </a>#}
                </li>
                <li>
{#                    <a class="sub-nav__link" href="{{ path('proekt.pasekas.rasas.plemmatka') }}"> Раса_Линия_Номер</a>#}
                </li>
                <li>
{#                    <a class="sub-nav__link" href="{{ path('proekt.pasekas.matkas') }}">Список ...</a>#}
                </li>
                {# <li>
                    <a class="sub-nav__link" href="{{ path('proekt.pasekas.childmatkas') }}">Список ДочьМаток </a>
                </li> #}

               
                <li class="na__item">
                    <a class="nav__link" href="#">Навигация</a>
                </li>
            </ul>
        </nav>
       
    </div><!-- /.sidebarr__content -->
    
    {# <div class="sidebarr__footer-text"> #}
       {# <div class="profilee__text">
                <button class="btnn  btnn--pt btnn--mb0 " type="button" data-modal="contact-modal">
                    Написать мне
                </button>     
            </div> #}
        <div class="sidebarr__footer">
            {# <a class="btnn btnn--pt btnn--mb0" href="#">Мои работы</a>  #}
     
            <button class="btnn  btnn--pt btnn--mb0 " type="button" data-modal="contact-modal">
                    Написать мне
                </button> 
       </div>
   {# </div> #}
		

</aside>
